
   <!-- Navigation -->
   <body style="background-image: url('/assets/imagenes/inicio.jpg'); width: 100; height: 100; "> 
     

   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Kallanka R</a>
    
    
    <ul>
      <li><a class="active" href="#home">Inicio</a></li>
      <li><a href="#news">Novedades</a></li>
      <li><a href="#contact">Contactanos</a></li>
      <li><a href="#about">Quines Somos</a></li>
    </ul>
  </nav>
  

  <div >
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row" >
            <div class="col-xs-6">
              <a routerLink='/login' class="active" id="login-form-link">Login</a>
              
            </div>
            <div class="col-xs-6">
              <a routerLink='/signup' id="register-form-link">Register</a>
            </div>
          </div>

        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
       
              <section class="content">
                <router-outlet></router-outlet>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="buscador_inicio">
  <div class="buscador2" >
      <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar destino" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Default Panel
              </div>
              <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
              </div>
              <div class="panel-footer">
                  Panel Footer
              </div>
          </div>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  Primary Panel
              </div>
              <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
              </div>
              <div class="panel-footer">
                  Panel Footer
              </div>
          </div>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <div class="panel panel-success">
              <div class="panel-heading">
                  Success Panel
              </div>
              <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
              </div>
              <div class="panel-footer">
                  Panel Footer
              </div>
          </div>
      </div>
      <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-4">
          <div class="panel panel-info">
              <div class="panel-heading">
                  Info Panel
              </div>
              <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
              </div>
              <div class="panel-footer">
                  Panel Footer
              </div>
          </div>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <div class="panel panel-warning">
              <div class="panel-heading">
                  Warning Panel
              </div>
              <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
              </div>
              <div class="panel-footer">
                  Panel Footer
              </div>
          </div>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <div class="panel panel-danger">
              <div class="panel-heading">
                  Danger Panel
              </div>
              <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
              </div>
              <div class="panel-footer">
                  Panel Footer
              </div>
          </div>
      </div>
      <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
  <div class="row">
      <div class="col-lg-4">
          <div class="panel panel-green">
              <div class="panel-heading">
                  Green Panel
              </div>
              <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
              </div>
              <div class="panel-footer">
                  Panel Footer
              </div>
          </div>
          <!-- /.col-lg-4 -->
      </div>
      <div class="col-lg-4">
          <div class="panel panel-yellow">
              <div class="panel-heading">
                  Yellow Panel
              </div>
              <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
              </div>
              <div class="panel-footer">
                  Panel Footer
              </div>
          </div>
          <!-- /.col-lg-4 -->
      </div>
      <div class="col-lg-4">
          <div class="panel panel-red">
              <div class="panel-heading">
                  Red Panel
              </div>
              <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
              </div>
              <div class="panel-footer">
                  Panel Footer
              </div>
          </div>
          <!-- /.col-lg-4 -->
      </div>
  </div>
</div>

