<form class="form__reg" action="">
  <input class="input" name= "nombre" [(ngModel)]="nombre" type="text" id="nombre" placeholder="&#128100;  Nombre" required autofocus>
        <input class="input" name= "apellido" [(ngModel)]="apellido" type="text"  id="apellido"  placeholder="&#128222;  Apellidos" required>
        <input class="input" name= "tipo_doc" [(ngModel)]="tipo_documento" type="text" id="tipo_doc" placeholder="&#8962;  Tipo Documento" required>
        <input class="input" name= "" [(ngModel)]="num_documento" type="text" id="num_doc" placeholder="&#8962;  Nª de documento" required>
        <input class="input" name= "apellido" [(ngModel)]="telefono" type="text" id="telefono" placeholder="&#8962;  Telefono" required>
        <div class="btn__form">
          <input class="btn__submit" type="submit" value="REGISTRAR">
          <input class="btn__reset" type="reset" value="LIMPIAR">	
        </div>
</form>